body{
    background: #800000;
    margin: 0;
    padding: 0;
    font-family: 'Peddana', serif;
    font-family: 'Piazzolla', serif;
}

main{
    width: 100%;
    height: auto;
    overflow: auto;
    margin: auto;
}

header{
    width: 100%; 
    height: 60px;
    background: #800000;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
}

.sive-id{
    width: auto;
    height: 60px;
    overflow: auto;
    float: left;
    padding: 0 10px;
}

.sive-id h2{
    padding: 0;
    margin: 0;
    line-height: 60px;
    font-weight: 200;
    color: #ffffff;
}

nav{
    width: 300px;
    height: 60px;
    background:  #800000;
    float: right;
}

nav a{
    display: block;
    width: 100px;
    height: 60px;
    float: left;
    line-height: 60px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    transition: 0.6s;
}

nav a:hover{
background: #800000;
}

#hero{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.2)), url(../img/above.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.hero-text{
    width: 50%;
    height: auto;
    overflow: auto;
    max-width: 700px;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.7);
    padding: 25px;
}

.hero-text h1{
    padding: 0 0 20px 0;
    margin: 0;
    font-size: 32px;
}

#about{
    width: 100%;
    height: auto;
    overflow: auto;
    background:  #f7f7f7;
}

.container{
    width: 80%;
    height: auto;
    overflow: auto;
    padding: 100px 0 100px 0; /* up right down left */
    margin: auto;
}

.container h2{
    text-align: center;
}

.left{
    width: 60%;
    height: auto;
    overflow: auto;
    float: left;
    padding: 0 3% 0 0;
}

.stat-cont{
    width: 100%;
    height: auto;
    overflow: auto;
}

.img-01{
    width: 24%;
    height: 240px;
    margin: 0 1% 0 0;
    float: left;
    background: url(../img/myforest.jpg);
    background-size: cover;
}

.img-02{
    width: 24%;
    height: 240px;
    margin: 0 1% 0 0;
    float: left;
    background: url(../img/20200819_205242.jpg);
    background-size: cover;
}

.img-03{
    width: 24%;
    height: 240px;
    margin: 0 1% 0 0;
    float: left;
    background: url(../img/forest.jpg);
    background-size: cover;
}

.img-04{
    width: 24%;
    height: 240px;
    margin: 0 1% 0 0;
    float: left;
    background: url(../img/fog.jpg);
    background-size: cover;
}

.right{
    width: 37%;
    height: auto;
    overflow: auto;
    float: left;
}

footer{
    width: 100%;
    height: auto;
    overflow: auto;
    background: #800000;
}

footer .left h3{
    color: #ffffff;
}

footer .right h3{
    color: #ffffff;
    text-align: right;
}

footer a{
    display: block;
    color: white;
    text-decoration: none;
}

.map-img{
    width: 100%;
    height: 300px;
    background-size: cover;
   
}

iframe{
    width: 100%;
    height: 300px;
    margin: 0;
}

footer a:hoover {
    text-decoration: underline;
}

@media only screen and (max-width:1200px){ 
   
    .left{
    width: 100%;
}
    
    .right{
    width: 100%;
}
    footer .right h3{
    text-align: left;
}
    .img-01{
    width: 100%;
    margin: 5px;
}

.img-02{
    width: 100%;
    margin: 3px;
}

.img-03{
    width: 100%;
    margin: 5px;
}

.img-04{
    width: 100%;
    margin: 5px;
}

}


@media only screen and (max-width:720px){ 
  header{ 
    height: 120px;
    }

.sive-id{
    width: 100%;
    padding: 0;
    text-align: center;
}


nav{
    float: none;
    margin: auto;
}

    
    .hero-text{
        width: 75%;
}
    .left{
    width: 100%;
    padding: 0 0 60px 0;
}
    .right{
    width: 100%;
}
    footer .right h3{
    text-align: left;
}
    
    .map-img{
    width: 100%;
    margin: 0 0 0 0;
}
    
}


